html,
body {
  background-color: darkslategrey;
}
* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}
.full-content {
  display: flex;
  height: 10rem;
  width: calc(20rem + 2px);
  background-color: green;
  margin: 3rem auto !important;
}
.field {
  display: flex;
  border: 1px solid white;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.field-col {
  display: flex;
  flex-direction: column;
}
.field-block {
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 1rem;
  width: 1rem;
  font-size: 10px;
  color: black;
  cursor: pointer;
}
.field-block:hover,
.field-block:focus,
.field-block:active {
  border: 1px solid white;
}
.field-block-goal {
  background-color: rgba(255, 255, 255, 0.5);
}

.field-block-team-blue {
  background-color: darkblue;
}
.field-block-team-red {
  background-color: darkred;
}
.field-block-ball {
  background-color: whitesmoke
}
