@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

html,
body {
  background-color: darkslategrey;
}
* {
  box-sizing: border-box !important;
  margin: 0px !important;
  padding: 0px !important;
}
.full-content {
  display: flex;
  height: 30rem + 15rem;
  width: 61rem + 30.5rem;
  background-color: green;
  margin: auto;
}
.field {
  display: flex;
  border: 1px solid white;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.field-block {
  border: 1px solid rgba(255,255,255,0.2);
  height: 1.5rem;
  width: 1.5rem;
  font-size: 10px; // temp
  color: black;
}
.field-block-goal {
  background-color: rgba(255,255,255,0.2);
}